*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-tetra{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
canvas{
    border: solid 2px #000;
}
.instruction p{
    margin: 10px 0;
}